/* LoginPage.css */

.login-page {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: linear-gradient(135deg, #e01e37, #f5f3f4);
}

.login-container {
  background-color: #ffffff;
  padding: 40px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: 400px;

  text-align: center;
}

.login-container h2 {
  margin-bottom: 20px;
  font-size: 24px;
  color: #333333;
}

.dashboardlogin {
  width: 100%;
  padding: 10px;
  margin: 10px 0;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
}



.dashboard-login-button {
  width: 100%;
  padding: 10px;
  margin-top: 20px;
  background-color: var(--main-color);
  border: none;
  border-radius: 5px;
  color: white;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.dashboard-login-button:hover {
  opacity: 0.8;;
}

.block {
  display: block;
}