



.all-orders{
  background-color: #fff;
  padding: 20px;
  width: 90%;
  max-width: 1200px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  margin: 0 auto; /* Center the users container */
}
.all-orders-table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
  }
  
  .all-orders-table th,
  .all-orders-table td {
    border: 1px solid #ddd;
    padding: 8px;
  }
  
  .all-orders-table th {
    background-color: #f2f2f2;
    text-align: left;
  }
  
  .all-orders-table select {
    padding: 5px;
    border: 1px solid #ddd;
    border-radius: 4px;
  }
  