
.pending-chef{
  background-color: #fff;
  padding: 20px;
  width: 90%;
  max-width: 1200px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  margin: 0 auto; /* Center the users container */
}

.pending-chefs-table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
  }
  
  .pending-chefs-table th,
  .pending-chefs-table td {
    border: 1px solid #ddd;
    padding: 8px;
  }
  
  .pending-chefs-table th {
    background-color: #f2f2f2;
    text-align: left;
  }
  
  .pending-chefs-table td a {
    color: var(--font-color);
    text-decoration: none;
  }
  
  .pending-chefs-table td a:hover {
    text-decoration: underline;
  }
  
  .pending-chefs-table button {
    padding: 5px 10px;
    margin: 5px;
    border: none;
    cursor: pointer;
    border-radius: 4px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .pending-chefs-table button:hover {
    opacity: 0.8;
  }
  
  .pending-chefs-table button:first-of-type {
    background-color: var(--main-color);
    color: white;
  }
  
  .pending-chefs-table button:last-of-type {
    background-color:rgba(0, 0, 0, 0.389);
    color: white;
  }
  