:root{
  --font-color:#e01e37;
  --main-color:#e01e38bc;
  --main-bg:rgb(248, 249, 250);
  --sec-bg:rgb(245, 243, 244);
  --border:.1rem solid rgba(255,255,255,.3);
  --sec-color:rgb(173, 181, 189) ;
}
*{
  margin: 0;
  padding: 0;
  outline: none;
  border:none;
  text-decoration: none;
  box-sizing: border-box;
  font-family: "poppins", sans-serif;

}